.currenciesSettings .modal-dialog {
    width: 350px;
    margin: 30px auto;
}

.currenciesSettings .dropdown-add-rec {
    background: #fff;
    height: 21px;
    border: solid 1px #ccc !important;
    width:100%;
}

.currenciesSettings .dropdown-add-rec .input-group-addon img {
    width: 18px;
    height: 27px;
}

.currenciesSettings .dropdown-add-rec input {
    background: transparent;
    border: 0;
    border-radius: initial;
    box-shadow: inherit;
    height: 27px;
    padding-left: 3px;
    width: 100%;
    font-weight: normal;
}
.currenciesSettings #addCurrency .modal-body p {
    border: 0;
    font-weight: bold;
}

.currenciesSettings ul.dropdown-menu li:hover {
    /* color: #048abb; */
    background-color: #e6f5fa;
}

.currenciesSettings ul.dropdown-menu li {
    cursor: pointer;
    font-size: 12px;
    margin: 0;
    float: left;
    width: 100%;
    background-color: #fff;
    text-align: left;
    padding: 10px 10px 10px!important;
    position: relative;
    text-overflow: ellipsis;
    border-bottom: 1px solid #e9edf2!important;
    border-width: 0 0 1px!important;
    border: 1px solid #fff;
    font-weight: normal;
}

.currenciesSettings .dropdown-menu {
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .4);
    border-radius: 0;
    padding: 0 0;
    overflow: auto;
    height: 257px;
}

.currenciesSettings #addCurrency .tareDiv {
    float: left;
    width: 100%;
    border: 0;
    margin-top: 10px;
    background: transparent;
}

.currenciesSettings .tareDiv .exchangeRates{
    margin-left: 0;
    width: 100%;
    border-bottom: 0 !important;
}

.currenciesSettings .tareDiv .exchangeRates p{
    font-weight: normal !important;
}
.currenciesSettings .modal-body {
    position: relative;
    font-size: 12px;
    float: left;
    width: 100%;
    background-color: #FBFBFB;
    border-bottom: 1px solid #E5E5E5;
}


.currenciesSettings .modal-footer button.btn.btn-cancel {
    line-height: 1.42857143;
    color: #fff;
}

.currenciesSettings .modal-footer{
    padding-bottom: 6px;
}
.currenciesSettings .modal-footer button{
    margin-top: 6px;
}

.currenciesSettings  #add_lines_menu .add_lines_dropdown li:hover {
    background-image: inherit !important;
    background-color: #e6f5fa !important;
    color: #048abb !important;
}
.currenciesSettings  #add_lines_menu .add_lines_dropdown li:hover a{
    color: #048abb !important;
}