.accountSettings {
    width: 100%;
    float: left;
}

.accountSettings .active_page_content h1 {
    margin-bottom: 0;
    border-bottom: 0;
}

.accountSettings .accountSettingsDiv {
    border-bottom: 1px solid #dfe1e2;
    padding: 0px 20px 0;
    background-color: #fff;
    float: left;
    width: 100%;
}

.accountSettings .simplerbasMessage {
    border-color: #fb8200;
    background-color: #fffaea;
    position: relative;
    padding: 10px;
    width: 100%;
    border-width: 2px;
    border-style: solid;
    margin-bottom: 15px;
    box-shadow: 1px 1px 3px #ddd;
    border-radius: 5px;
    margin-top: 1em;
}

.accountSettings .message {
    padding: 8px 0 0 40px;
    margin-top: 0;
    float: none;
}

.accountSettings .message p {
    font-size: 11px;
}

.accountSettings .message p i {
    float: right;
    color: #fff;
    font-size: 13px;
    background: #fb8200;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    border-radius: 3px;
    font-weight: normal;
    margin-top: -10px;
    cursor: pointer;
}

.accountSettings .simplerbasMessage .message-icon {
    background-color: transparent;
    background-image: url(img/eceaicons.png);
    background-repeat: no-repeat;
    width: 32px;
    height: 32px;
    float: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-position: 0 -99px;
}

.accountSettings .simplerbasMessage span {
    float: right;
    margin-top: 8px;
    padding-right: 10px;
}

.accountSettings .accountPost {
    width: 100%;
    float: left;
    margin-top: 20px;
}
.accountSettings .accountPost .panel-group {
    margin-bottom: 0;
}

.accountSettings .accountPost ul {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}


.accountSettings .accountPost ul li {
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom: 20px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feffff), color-stop(100%, #f5f7f8));
    background: -webkit-linear-gradient(#feffff, #f5f7f8);
    background: -webkit-linear-gradient(#feffff, #f5f7f8);
    background: linear-gradient(#feffff, #f5f7f8);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 3px #bbb;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    font-size: 12px;
    line-height: 49px;
}

.accountSettings .accountPost ul li h5 {
    float: left;
    padding: 0;
    margin: 0;
    line-height: 49px;
    margin-left: 16px;
    font-weight: bold;
}

.accountSettings .accountPost ul li span {
    float: left;
    margin-left: 10%;
}

.accountSettings .accountPost ul li a {
    float: right;
    margin-right: 10px;
    font-size: 12px;
    color: #337ab7;
    font-weight: normal;
}

.accountSettingsDiv #div#wrapper_main {
    padding-bottom: 0
}

.accountSettings .accountPost .panel-default > .panel-heading {
    color: #333;
    background-color: transparent;
    border-color: #ddd;
    float: left;
    width: 100%;
    list-style: none;
    margin-bottom:0px;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #feffff), color-stop(100%, #f5f7f8));
    background: -webkit-linear-gradient(#feffff, #f5f7f8);
    background: -webkit-linear-gradient(#feffff, #f5f7f8);
    background: linear-gradient(#feffff, #f5f7f8);
    border-radius: 4px 4px 0 0;
    box-shadow: 0 1px 3px #bbb;
    -webkit-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
    cursor: pointer;
    min-height: 50px;
}

.accountSettings .accountPost .panel-default > .panel-heading .panel-title{
    line-height: 39px;
    font-weight: bold;
}
.accountSettings .accountPost ul li:last-child{
    background: transparent;
    border: 0;
    box-shadow: inherit;
}


.accountSettings  .content {
    padding: 0px;

}

.accountSettings .panelfield {
    border-bottom: 1px solid #ebeeef;
    border-top: 1px solid #fff;
    float: left;
    width: 100%;
    background: #fafbfb;
    margin-top: 10px;
    padding-bottom:10px;
}

.accountSettings .panelfield .panelfieldData{
    width: 100%;
    float: left;
    padding: 15px;
    line-height: 23px;

}
.accountSettings .panelfield ul{
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ebeeef;
    border-top: 1px solid #fff;
    margin-left: 15px;
    margin-right: 15px;
    width: 96%;
}

.accountSettings .panelfield ul:last-child{ border: 0}
.accountSettings  .panelfield ul li {
    padding: 15px;
    padding-bottom: 10px;
    float: left !important;
    background: inherit !important;
    box-shadow: inherit !important;
    width: 20% !important;
    line-height: initial !important;
    margin-bottom: 0 !important;
}
.accountSettings  .panelfield ul li:nth-child(2){
    width: 79% !important;
}
.accountSettings  .radioButton {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}

.accountSettings  .radioButton .radio {
    float: left;
    width: 27%;
}
.accountSettings  .radio, .checkbox {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

.accountSettings .panelfield ul li select.form-control{
    width: 50%;

}

.accountSettings .heading.footer {
    float: right;
    text-align: right;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.accountSettings .heading.footer button.btn.btn-default.gray {
    width: 100px;
    font-weight: bold;
    font-size: 12px;
    line-height: initial;
}

.accountSettings .heading.footer .btn.btn-default.gray:hover{
    color: #fff;
}

.accountSettings .heading.footer button.btn.btn-success {
    width: 150px;
    line-height: initial;
    font-weight: bold;
    font-size: 12px;
}


.accountSettings .accountPost .panel-default > .panel-heading:hover {
    background-color: #fff;
}

.accountSettings .panelfield .panelfieldData p {
    margin: 0 0 3px;
    font-size: 12px;
}
.accountSettings .panelfield .panelfieldData p a{ float: none;}
